<div class="container">
    <form action="">
        <div class="form-row">
            <div class="col">
                <label for="Primeiro Nome">Primeiro Nome</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label for="Ultimo Nome">Ultimo Nome</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="col">
                <label for="CEP">CEP</label>
                <input type="text" class="form-control">
            </div>
        </div>
        
        <div class="form-row">
            <div class="col">
                <label for="Endereco">Endereço</label>
                <input type="text" class="form-control" placeholder="Rua, Av...">
            </div>
        </div>
        
        <div class="form-row">
            <div class="col">
                <label for="Numero">Numero</label>
                <input type="text" class="form-control">
            </div>
        </div>
        
        <div class="form-row">
            <div class="col">
                <label for="Complemento">Complemento</label>
                <input type="text" class="form-control">
            </div>
        </div>
        
        <div class="form-row">
            <div class="col">
                <label for="Bairro">Bairro</label>
                <input type="text" class="form-control">
            </div>
        </div>
        
        <div class="form-row">
            <div class="col">
                <label for="Cidade">Cidade</label>
                <input type="text" class="form-control">
            </div>
        </div>
        
        <div class="form-row">
            <div class="col">
                <label for="Estado">Estado</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label for="Pais">País</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <button type="submit" class="btn btn-primary w-100">Salvar</button>
            </div>
        </div>
    </form>
</div>