<header class="h-header container-fluid">
    <div class="row h-header">
        <div class="col-4 h-header d-flex align-items-center border-right">
            <img src="../../assets/img/contact.png" class="img-fluid h-img" alt="">
        </div>
        <div class="col-8 h-header d-flex align-items-center">
            <div>
                <img src="../../assets/img/contact.png" class="img-fluid h-img" alt="">
            </div>
            <div class="d-flex flex-column ml-2 text-header">
                <span class="h6">Pedro Chaves</span>
                <span class="text-xs font-weight-light text-small">Visto por ultimo as 16h</span>
            </div>

        </div>
    </div>
</header>
<section class="container-fluid"> 
    <div class="row">
        <div class="col-4">
            <ul class="list-group list-group-flush">
                <li class="d-flex align-content-center justify-content-between list-group-item ">
                    <div class="d-flex">
                        <div class="">
                            <img src="../../assets/img/hcode-photo.png" class="img-fluid h-img" alt="">
                        </div>
                        <div class="d-flex flex-column ml-2 text-header mt-2 font-weight-bold">
                            <span class="text-small-sidebar">Hcode</span>
                            <span class="text-xs font-weight-light text-small">Pedro:Bora estudar....</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="text-xs font-weight-light text-small">19:14</span>
                        <span class="text-xs font-weight-light text-small-badge badge badge-pill badge-success"> 15</span>
                    </div>
          
                </li>
                <li class="d-flex align-content-center list-group-item ">
                    <div class="">
                        <img src="../../assets/img/contact.png" class="img-fluid h-img" alt="">
                    </div>
                    <div class="d-flex flex-column ml-2 text-header">
                        <span class="text-small-sidebar">Pedro chaves</span>
                        <span class="text-xs font-weight-light text-small">Pedro: Estou estudando bootstrap</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-8 bg-section-content">
            
        </div>
    </div>
</section>