<div class="container">
  <h1>FORM 48,49</h1>
  <div class="container">

    <form action="">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Primeiro Nome">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Ultimo Nome">
        </div>

        
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <hr>
    <form action="">
      <div class="form-group">
        <div class="form-control-plaintext">Pedro Chaves</div>
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="email" class="form-control form-control-sm" name="email" id="email">
      </div>

      <div class="form-group">
        <label for="email">email</label>
        <input type="email" class="form-control" name="email" id="email">
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="senha" class="form-control" name="senha" id="senha">
      </div>

      <div class="form-group">
        <label for="estado">Estado</label>
        <select id="estado" name="estado" class="form-control">
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
          <option value="EX">Estrangeiro</option>
      </select>
      </div>

     
      <button type="submit" class="btn btn-primary"> Enviar</button>
    </form>
  </div>



  <hr>
  <h1>LIST GROUP 41</h1>

  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex ju">caixa de entrada <span class="badge badge-light badge-pill">5</span></li>
    <li class="list-group-item">2</li>
    <li class="list-group-item">3</li>
    <li class="list-group-item">4</li>
    <li class="list-group-item">5</li>
  </ul>
  <hr>
  <ul class="list-group list-group-flush list-group-horizontal-sm">
    <li class="list-group-item">1</li>
    <li class="list-group-item">2</li>
    <li class="list-group-item">3</li>
    <li class="list-group-item">4</li>
    <li class="list-group-item">5</li>
  </ul>

  <hr>
  <h1>BADGES 40</h1>
  <button class="btn btn-primary btn-lg"> Caixa de entrada <span class="badge badge-light">5</span></button>

  <hr>
  <h1>BUTTONS 39</h1>
  <div class="row">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label for="option1" class="btn btn-secondary active"><input checked type="radio" name="options"
          id="option1">1</label>
      <label for="option2" class="btn btn-secondary"><input type="radio" name="options" id="option2">2</label>
      <label for="option3" class="btn btn-secondary"><input type="radio" name="options" id="option3">3</label>

    </div>
  </div>
  <hr>

  <h1>TABELAS 37</h1>
  <div class="container">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOME</th>
          <th>IDADE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Pedro</td>
          <td>30</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Pedro</td>
          <td>30</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Pedro</td>
          <td>30</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Pedro</td>
          <td>30</td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr>
  <hr>
  <h1>IMAGENS 36</h1>
  <div class="container">
    <picture>
      <img src="../../assets/img/tenis.jpg" alt="" class="img-fluid">
    </picture>
    <hr>
    <img src="../../assets/img/tenis.jpg" alt="" class="img-fluid rounded d-block mx-auto" width="300px">
    <hr>
    <img src="../../assets/img/tenis.jpg" alt="" class="img-fluid rounded">
    <img src="../../assets/img/tenis.jpg" alt="" class="img-thumbnail">
    <hr>
    <div class="row">
      <div class="col">
        <img src="../../assets/img/tenis.jpg" alt="" class="img-fluid">
      </div>
      <div class="col">
        <img src="../../assets/img/tenis.jpg" alt="" class="img-fluid">
      </div>
    </div>

    <img src="../../assets/img/tenis.jpg" alt="" class="img-fluid">
  </div>
  <hr>

  <h1>TIPOGRAFIA 24,25,26,27</h1>

  <div class="text-wrap text-truncate" style="width: 150px;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eos fuga maxime, maiores enim culpa aliquam
    quibusdam veritatis eius eaque pariatur ullam, dolores laudantium

  </div>
  <div class="text-nowrap text-truncate" style="width: 150px;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eos fuga maxime, maiores enim culpa aliquam
    quibusdam veritatis eius eaque pariatur ullam, dolores laudantium

  </div>
  <hr>
  <dl>
    <dt>Titulo</dt>
    <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eos fuga maxime, maiores enim culpa aliquam
      quibusdam veritatis eius eaque pariatur ullam, dolores laudantium</dd>
    <dt>Titulo</dt>
    <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eos fuga maxime, maiores enim culpa aliquam
      quibusdam veritatis eius eaque pariatur ullam, dolores laudantium</dd>
    <dt>Titulo</dt>
    <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eos fuga maxime, maiores enim culpa aliquam
      quibusdam veritatis eius eaque pariatur ullam, dolores laudantium</dd>
  </dl>
  <ul class="list-inline">
    <li class="list-inline-item">PEdro Chaves teste </li>
    <li class="list-inline-item">PEdro Chaves teste </li>
    <li class="list-inline-item">PEdro Chaves teste </li>
    <li class="list-inline-item">PEdro Chaves teste </li>
    <li class="list-inline-item">PEdro Chaves teste </li>
  </ul>
  <hr>
  <blockquote class="blockquote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eos fuga maxime,
    maiores enim culpa aliquam quibusdam veritatis eius eaque pariatur ullam, dolores laudantium, veniam dolorem
    architecto. Dolore, at reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolor, et
    incidunt voluptatibus modi blanditiis corrupti asperiores minus alias nihil eveniet. Maxime ducimus, ipsa ea iure
    error similique incidunt ex.
    <footer class="blockquote-footer">Pedro Chaves</footer>
  </blockquote>
  <hr>

  <p class="lead">Lorem ipsum dolor sit <mark>TESTE</mark> amet consectetur adipisicing elit. Quasi veritatis deleniti
    eligendi quisquam explicabo eaque. Fuga modi quo quis. Error deleniti atque odit neque ab consequuntur eum. Fugit,
    quasi ad!</p>
  <p class=""> <abbr title="JavaScript">JS</abbr> Lorem ipsum dolor sit <mark>TESTE</mark> amet consectetur adipisicing
    elit. Quasi veritatis deleniti eligendi quisquam explicabo eaque. Fuga modi quo quis. Error deleniti atque odit
    neque ab consequuntur eum. Fugit, quasi ad!</p>
  <hr>
  <h1>Pedro chaves</h1>
  <h2>Pedro chaves</h2>
  <h3>Pedro chaves</h3>
  <h4>Pedro chaves</h4>
  <h5>Pedro chaves</h5>
  <h6>Pedro chaves</h6>
  <hr>
  <h1>Aula 18,19,20,21,22,23</h1>
  <div class="d-flex flex-nowrap bg">
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
  </div>
  <div class="d-flex flex-wrap bg">
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
    <div class="bg p-2">Item</div>
  </div>
  <div class="d-flex  bg">
    <div class="bg p-2 flex-fill">111233333111233333333333333311123333333333333333333333333</div>
    <div class="bg p-2 flex-fill">2</div>
    <div class="bg p-2 flex-fill">3</div>
  </div>
  <div class="d-flex  bg">
    <div class="bg p-2 flex-grow-1">1</div>
    <div class="bg p-2 ">2</div>
    <div class="bg p-2 ">3</div>
  </div>
  <div class="d-flex justify-content-center bg">
    <div class="bg p-2">1</div>
    <div class="bg p-2">2</div>
    <div class="bg p-2">3</div>
  </div>
  <div class="d-flex justify-content-between bg">
    <div class="bg p-2">1</div>
    <div class="bg p-2">2</div>
    <div class="bg p-2">3</div>
  </div>
  <div class="d-flex justify-content-around bg">
    <div class="bg p-2">1</div>
    <div class="bg p-2">2</div>
    <div class="bg p-2">3</div>
  </div>

  <hr>
  <div class="d-flex flex-row-reverse bg">
    <div class="bg p-2">1</div>
    <div class="bg p-2">2</div>
    <div class="bg p-2">3</div>
  </div>
  <div class="d-flex flex-column bg">
    <div class="bg p-2">1</div>
    <div class="bg p-2">2</div>
    <div class="bg p-2">3</div>
  </div>

  <hr>
  <h1>Aula 17 FLEXBOX</h1>
  <div class="d-flex bg">
    <div class="bg p-2">1</div>
    <div class="bg p-2">2</div>
  </div>
  <div class="d-inline-flex bg">
    <div class="bg p-2">1</div>
    <div class="bg p-2">2</div>
  </div>
  <div class="d-inline-flex bg">
    <div class="bg p-2">1</div>
    <div class="bg p-2">2</div>
  </div>
  <hr>
  <h1>Aula 16 NESTING</h1>
  <div class="row">
    <div class="col-12">
      nivel1
      <div class="row">
        <div class="col-8">8</div>
        <div class="col-4">4</div>
      </div>

    </div>
  </div>
  <hr>
  <h1>Aula 15 OFFSET</h1>
  <div class="row">
    <div class="col-sm-4">primeiro</div>
    <div class="col-sm-4 offset-sm-4">terceiro</div>
  </div>
  <hr>
  <h1>Aula 14 ORDER</h1>
  <div class="row">
    <div class="col col-md-4 order-sm-3">primeiro</div>
    <div class="col col-md-4 order-sm-2">segundo</div>
    <div class="col col-md-4 order-sm-1">terceiro</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-sm-4">1</div>
    <div class="col-6 col-sm-8">2</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6 col-md-4">col-6 col-md-4</div>
    <div class="col-6 col-md-4">col-6 col-md-4</div>
    <div class="col-6 col-md-4">col-6 col-md-4</div>
  </div>
</div>