<div class="container-fluid bg-container-fluid">
    <div class="row">
        <div class="col-3 offset-1">
            <img src="../../assets/img/logo.png" alt="">
        </div>
        <div class="col-8">
            <div class="d-flex justify-content-center">
                <ul class="list-unstyled list-inline" style="margin-left: 30%;">
                    <li class="list-inline-item">Home</li>
                    <li class="list-inline-item">Cardápio</li>
                    <li class="list-inline-item">Contato</li>
                </ul>
            </div>
        </div>
    </div>
    
</div>